.full-height {
    height: 100vh;
}

.text-center {
    text-align: center;
}

.usa-section-dark h1, .usa-section-dark h2, .usa-section-dark h3, .usa-section-dark h4, .usa-section-dark h5, .usa-section-dark h6 {
    color: white;
}

.map-summary {
    padding-right: 35px;
    padding-left: 35px;
}

caption {
    font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

/*
.usa-section-dark {
    background-color: #112e51;
    color: #ffffff;
}*/
