body {
    font-family: 'Inter', sans-serif;
}

.bg-darkish {
    background-color: #2b3137 !important;
    color: #fff !important;
}

.bg-blue-gradient {
    background: linear-gradient(90deg, #257bf9, #2426ca) !important;
}

.text-underline-warning {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(69, 130, 236, 1))) !important;
    background-image: -o-linear-gradient(left, rgba(69, 130, 236, 1)) !important;
    background-image: linear-gradient(to right, rgba(69, 130, 236, 1)) !important;
}

[class*=text-underline-] {
    background: repeat-x left 1em/1em .15em;
}

#col-lead {
    padding-top: 50%;
}

.gallery {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-width: 50%;
    -moz-column-width: 50%;
    column-width: 50%;
}

.gallery .pics {
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
}

.gallery .animation {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
