{% extends 'layouts/main.html' %}

{% block title %}OpenPDI{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/pages/agency.css') }}">
{% endblock %}


{% block content %}
<div class="usa-section">
    <div class="usa-grid usa-grid-padded">
      <h1 class="mt-5">
        {{ agency.name }}
        <a href="{{ agency.home }}" class="tag align-center is-large">Website</a>
      <a href="{{ agency.portal }}" class="tag align-center is-large">PDI Profile</a>
      </h1>
    </div>

      <div class="usa-grid usa-grid-padded">
        <div class="usa-width-one-half">
        <table>
          <caption>Data</caption>
          <thead>
            <tr>
              <th scope="col">TOPIC</th>
              <th scope="col">RAW</th>
              <th scope="col">STANDARDIZED</th>
            </tr>
          </thead>
          <tbody>
            {% for dataset in agency['datasets'] %}
            <tr>
              <th scope="row">{{ dataset['label'] }}</th>
              <td><a href="{{ dataset['raw']['url'] }}">PDI</a></td>
              {% if dataset['index']['url'] is defined %}
                <td><a href="{{ dataset['index']['url'] }}">OpenPDI</a></td>
              {% else %}
                <td>N/A</td>
              {% endif %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="usa-width-one-half">
          <table>
          <caption>Policies</caption>
          <thead>
            <tr>
              <th scope="col">TOPIC</th>
              <th scope="col">POLICY</th>
            </tr>
          </thead>
          <tbody>
            {% for topic in agency['topics'] %}
            <tr>
              <th scope="row">{{ topic['label'] }}</th>
              <td><a href="{{ topic['url'] }}">{{ topic['source'] }}</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      </div>

    <div class="usa-grid usa-grid-padded">
      <h2 class="mt-5">News</h2>
      <a class="twitter-timeline" href="https://twitter.com/{{ agency['twitter'] }}" data-height="400" data-chrome="noheader nofooter">
        Tweets by @{{ agency['twitter'] }}
      </a>
    </div>
</div>
{% endblock %}

{% block js %}
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
{% endblock %}
