{% extends 'layouts/main.html' %}

{% block title %}OpenPDI{% endblock %}


{% block content %}
<section>
  <div class="usa-grid-full">
    <img src="/static/img/cityscape.png" style="width:100%;" alt="Cityscape banner">
  </div>
</section>

<section class="usa-section">
  <div class="usa-grid-full">
    <div class="usa-width-one-third">
      <h2>Trust through Transparency</h2>
    </div>
    <div class="usa-width-two-thirds">
      <p class="usa-font-lead">
        The OpenPDI project is an open-source effort to
        standardize and present data on police activity in the U.S.
      </p>
      <p class="usa-font-lead">
        Our goal is to make it easier for journalists, researchers, and citizens
        to explore police-related data at the department, state, and national
        level.
      </p>
    </div>
  </div>
</section>

<section class="usa-section usa-section-secondary usa-graphic_list">
  <div class="usa-grid-full usa-graphic_list-row">
    <div class="usa-width-one-half usa-media_block">
      <i class="fas fa-chart-bar fa-3x usa-media_block-img"></i>
      <div class="usa-media_block-body">
        <h3>100% Reproducible</h3>
        <p>
          Every data source we standardize, use, or present is freely available
          to the public.
        </p>
      </div>
    </div>
    <div class="usa-width-one-half usa-media_block">
      <i class="fas fa-code-branch fa-3x usa-media_block-img"></i>
      <div class="usa-media_block-body">
        <h3>Open Source</h3>
        <p>
          Our <a href="https://github.com/OpenPDI/openpdi">source code</a>,
          <a href="https://github.com/OpenPDI/research">publications</a>, and
          <a href="https://github.com/OpenPDI/openpdi.org">website</a> are all
          open source and available on GitHub.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="usa-section">
  <div class="usa-grid-full usa-graphic_list-row">
    <div class="usa-width-one-half usa-media_block">
      <h3 id="assessment">Explore the data</h3>
      <p>
        Browse data on <a href="/ois">officer-involved shootings</a>,
        <a href="/uof">use-of-force incidents</a>, traffic stops
        (coming soon!), and more.
      </p>
      <a href="/about" class="usa-button usa-button-secondary cta">
          Learn more <i class="fas fa-arrow-right align-center"></i>
        </a>
    </div>
    <div class="usa-width-one-half usa-media_block">
      <h3 id="customization">Create your own dataset</h3>
      <p>
        Get started with your own research by using our open-source Python
        library to create your own dataset.
      </p>
      <p>
        <a href="https://github.com/OpenPDI/openpdi" class="usa-button usa-button-secondary cta">
          Learn more <i class="fas fa-arrow-right align-center"></i>
        </a>
      </p>
    </div>
  </div>
</section>
{% endblock %}
