{% extends 'layouts/main.html' %}

{% block title %}OpenPDI{% endblock %}

{% block css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.2/dist/jquery.fancybox.min.css" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/pages/home.css') }}">
{% endblock %}

{% block content %}
<section class="usa-section">
  <div class="usa-grid-full usa-grid-padded">
      <div id="wrapper" class="usa-width-one-whole">
          <h2>Traffic Stops</h2>
          <p>
            Stanford University's
            <a href="https://openpolicing.stanford.edu/">Open Policing Project</a>
            has collected and standardized over 130 million traffic stop records
            from 31 state police agencies. This data includes information such
            as stop date, reason, and location, which we've begun exploring
            below.
          </p>
          <div id="traffic" class="map" style="width:100%;height:100%;"></div>
          <p>
            There are more than 50,000 traffic stops on a typical day in the
            U.S. A plurality of these stops take place on Friday (~16.1%),
            with speeding violations accounting for nearly half (~49%) of all
            stops.
          </p>
      </div>
        <div class="usa-width-one-half usa-grid-padded">
          <div id="reasons"></div>
      </div>
      <div class="usa-width-one-half usa-grid-padded">
        <div id="days"></div>
      </div>
  </div>

  <div class="usa-grid-full">
    <div class="usa-width-one-whole">
      <p>
        Stanford's analysis of this data can
        <a href="https://openpolicing.stanford.edu/findings/">be found here</a>.
      </p>
    </div>
  </div>

  <div class="usa-grid-full usa-grid-padded">
    <div id="wrapper" class="usa-width-one-whole">
      <h2>Use-of-Force (UoF) Incidents</h2>
      <div class="usa-alert usa-alert-info">
        <div class="usa-alert-body">
          <h3 class="usa-alert-heading">Definition</h3>
          <p class="usa-alert-text">
              <i>Use of Force</i> is the means of compelling compliance or
              overcoming resistance to an officer's efforts to protect life or
              property, or take a person into custody.
              <sup><a href="https://www.policefoundation.org/general-resources/use-of-force-infographic/">[1]</a></sup>
          </p>
        </div>
      </div>
      <p>
        OpenPDI has
        <a href="https://github.com/OpenPDI/openpdi/tree/master/openpdi/meta/uof">standardized over 50,000</a>
        UoF incident reports from data submitted to the
        <a href="https://www.policedatainitiative.org/datasets/use-of-force/">Police Data Initiative</a>.
        This gives us the opportunity to explore <i>why</i> and <i>how</i>
        police officers are applying the Use of Force across the U.S.
      </p>
      <p>
        33,385 of these reports specified a <i>reason</i> for using force,
        as shown in the table below.
      </p>
      <table id="table">
        <caption>Reasons for using force (33,385 incidents)</caption>
        <thead>
          <tr>
            <th scope="col">Reason</th>
            <th>Example Column Entries</th>
            <th scope="col">Percent of Incidents</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Resistance</th>
            <td>"resisting arrest", "necessary to effect arrest"</td>
            <td>40.9</td>
          </tr>
          <tr>
            <th scope="row">Active Aggression</th>
            <td>"assaulting citizen(s)", "subject combative", "battery on police officer"</td>
            <td>27.2</td>
          </tr>
          <tr>
            <th scope="row">Non-compliance</th>
            <td>"refuse verbal commands", "subject non compliant"</td>
            <td>11.5</td>
          </tr>
          <tr>
          <tr>
            <th scope="row">Fleeing</th>
            <td>"fleeing", "flight from an officer", "escape"</td>
            <td>5.2</td>
          </tr>
            <th scope="row">Weapon Display</th>
            <td>"weapon display", "weapon exhibited"</td>
            <td>3.9</td>
          </tr>
          <tr>
            <th scope="row">Other</th>
            <td>"other", "to restrain for subjects safety", "in custody, maintaining control"</td>
            <td>11.3</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="usa-grid-full usa-grid-padded">
    <div class="usa-width-one-whole">
      <p>
        Officers are typically trained to use the least amount of force necessary
        to "reduce the immediate threat," ranging from <i>No Force</i>
        (verbal commands, officer presence, etc.) to <i>Deadly Force</i>
        (their firearm). And while exact policies vary from department to
        department, the recommended progression in force generally resembles
        the reasoning illustrated in the diagram below (courtesy of the
        <a href="http://useofforceproject.org/#project">Use of Force Project</a>).
      </p>
      <figure>
        <a data-fancybox="gallery" href="/static/img/uof.png"><img src="/static/img/uof.png" class="center" alt="Use of Force progression"></a>
        <figcaption class="text-center caption-text">Click to enlarge.</figcaption>
      </figure>
      <p>
        For example, the act of <i>Resistance</i>&mdash;the most commonly cited
        reason for force in our dataset&mdash;would warrant "moderate force"
        according to the diagram. Let's look at how officers from our dataset
        responded to different subject behaviors.
      </p>
    </div>
  </div>

  <div class="usa-grid-full usa-grid-padded">
    <div id="wrapper" class="usa-width-one-whole">
      <div id="uof-group" style="width:100%;height:100%;"></div>
      <p>
        As you can see, <i>Physical</i> (an act of "moderate force") is the most
        common type of force. <i>Firearm</i> (Deadly Force) is most commonly
        applied when the subject displays a weapon (39%), fails to comply with
        instructions (20%), or attempts to flee (18%).
      </p>
      <p>
        See the National Police Foundation's
        <a href="https://www.policefoundation.org/general-resources/use-of-force-infographic/">Use-of-Force Infographic</a>
        for more information.
      </p>
    </div>
  </div>
</section>
{% endblock %}

{% block js %}
<script type=text/javascript>
  $SCRIPT_ROOT={{ request.script_root|tojson|safe }};
</script>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/drilldown.js"></script>

<script src="{{ url_for('static', filename='js/home/charts.js') }}"></script>

<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.2/dist/jquery.fancybox.min.js"></script>
{% endblock %}
