{% extends 'layouts/main.html' %}

{% block title %}OpenPDI: Use of Force{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='vendor/FancyBox/jquery.fancybox.min.css') }}" />
{% endblock %}

{% block content %}
<section class="usa-section">
  <div class="usa-grid-full usa-grid-padded">
    <div id="wrapper" class="usa-width-one-whole">
      <h1>
        Use-of-Force Incidents
        <span class="tag is-light is-large align-center">Updated: {{ updated }}</span>
      </h1>
      <div class="usa-alert usa-alert-info">
        <div class="usa-alert-body">
          <h3 class="usa-alert-heading">Definition</h3>
          <p class="usa-alert-text">
              <i>Use of Force</i> is the means of compelling compliance or
              overcoming resistance to an officer's efforts to protect life or
              property, or take a person into custody.
              <sup><a href="https://www.policefoundation.org/general-resources/use-of-force-infographic/">[1]</a></sup>
          </p>
        </div>
      </div>
      <p>
        The OpenPDI project has
        <a href="https://github.com/OpenPDI/openpdi/tree/master/openpdi/meta/uof">standardized over 50,000</a>
        use-of-force incident reports from data submitted to the
        <a href="https://www.policedatainitiative.org/datasets/use-of-force/">Police Data Initiative</a> (PDI).
        This gives us the opportunity to explore <i>why</i>, <i>how</i>, and <i>where</i>
        police officers are using force across the U.S.
      </p>

      <table id="table">
        <caption id="total-reasons">Reasons for using force ({{ total }} incidents)</caption>
        <thead>
          <tr>
            <th scope="col">Category</th>
            <th>Example Entries</th>
            <th scope="col">Percent of Incidents</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Resistance</th>
            <td>"resisting arrest", "necessary to effect arrest"</td>
            <td>{{ freqs["RESISTANCE"] }}</td>
          </tr>
          <tr>
            <th scope="row">Active Aggression</th>
            <td>"assaulting citizen(s)", "subject combative", "battery on police officer"</td>
            <td>{{ freqs["ACTIVE AGGRESSION"] }}</td>
          </tr>
          <tr>
            <th scope="row">Non-compliance</th>
            <td>"refuse verbal commands", "subject non compliant"</td>
            <td>{{ freqs["NON-COMPLIANT"] }}</td>
          </tr>
          <tr>
          <tr>
            <th scope="row">Fleeing</th>
            <td>"fleeing", "flight from an officer", "escape"</td>
            <td>{{ freqs["FLEEING"] }}</td>
          </tr>
            <th scope="row">Weapon Display</th>
            <td>"weapon display", "weapon exhibited"</td>
            <td>{{ freqs["WEAPON DISPLAY"] }}</td>
          </tr>
          <tr>
            <th scope="row">Other</th>
            <td>"other", "to restrain for subjects safety", "in custody, maintaining control"</td>
            <td>{{ freqs["OTHER"] }}</td>
          </tr>
        </tbody>
      </table>

      <p>
        Officers are typically trained to use the least amount of force necessary
        to "reduce the immediate threat," ranging from <i>No Force</i>
        (verbal commands, officer presence, etc.) to <i>Deadly Force</i>
        (their firearm). And while exact policies vary from department to
        department, the recommended progression in force generally resembles
        the reasoning illustrated in the diagram below (courtesy of the
        <a href="http://useofforceproject.org/#project">Use of Force Project</a>).
      </p>

      <figure>
        <a data-fancybox="gallery" href="/static/img/uof.png"><img src="/static/img/uof.png" class="center" alt="Use of Force progression"></a>
        <figcaption class="text-center caption-text">Click to enlarge.</figcaption>
      </figure>

      <p>
        The chart below summarizes the type of force used in response to different
        behaviors. The "Impact" category includes the use of non-lethal weapons
        such as batons and bean bag rounds.
      </p>

      <div id="uof-group" style="width:100%;height:100%;"></div>
      <p>
        If you'd like to perform your own analysis, check out our
        <a href="https://github.com/OpenPDI/openpdi">open-source Python library</a> for working
        with data standardized by the OpenPDI project. For more general
        information on the use of force, see the National Police Foundation's
        <a href="https://www.policefoundation.org/general-resources/use-of-force-infographic/">infographic</a>.
      </p>
    </div>
  </div>
</section>
{% endblock %}

{% block js %}
<script type=text/javascript>
  $SCRIPT_ROOT={{ request.script_root|tojson|safe }};
</script>

<script src="{{ url_for('static', filename='vendor/FancyBox/jquery.fancybox.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/Highcharts/highcharts.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/Highcharts/drilldown.min.js') }}"></script>

<script src="{{ url_for('static', filename='js/uof/data.js') }}"></script>
<script src="{{ url_for('static', filename='js/uof/charts.js') }}"></script>
{% endblock %}
