{{ define "main" }}
<section class="bg-darkish overflow-hidden">
    <img alt="Image" src="/img/graphic-bg-clouds-5.png" class="bg-image" />
    <div class="container-lg">
        <div class="row justify-content-center">
            <div class="col-8 text-center">
                <!-- Heading -->
                <h1 class="display-3 mb-4 text-white">
                    <span class="text-underline-warning">Open</span>PDI
                </h1>
                <!-- TODO: add video? -->
                <p class="lead">
                    The <b>OpenPDI</b> project is an open-source effort to aggregate, standardize,
                    and present data on police activity in the U.S.
                </p>
                <!-- Button -->
                <a href="#" class="btn btn-lg btn-success">Get the code</a>
                <a href="#" class="btn btn-lg btn-link text-white">Explore the data <i class="icon-chevron-right"></i></a>
            </div>
        </div>
    </div>
</section>

<section class="bg-white">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-12">
                <span class="title-decorative" data-aos="fade-up" data-aos-delay="10">What do we do?</span>
                <h2 class="display-4" data-aos="fade-up" data-aos-delay="100">Standardization</h2>
                <p class="lead" data-aos="fade-up" data-aos-delay="200">
                    In May 2015, the White House launched the
                    <a href="https://www.policedatainitiative.org/">Police Data Initiative</a>
                    (PDI) in an effort to encourage law enforcement agencies to release data
                    on their interactions with the communities they serve.
                </p>
            </div>
        </div>
        <div class="row">
            <div id="arcs" class="my-3" data-aos-id="chart" data-aos="fade-up" style="position: relative; width: 100%; height: 50%;">
        </div>
        <div class="row justify-content-center text-center">
            <div class="col-12">
                <p class="lead">
                    The <b>OpenPDI</b> project expands upon this affort by aggregating data from
                    hundreds of individual sources (law enforcement agencies, universities, media
                    outlets, grassroots organizations, etc.) and creates well-documented,
                    standardized datasets.
                </p>
                <p>
                    <a href="#">Learn more &rsaquo;</a>
                </p>
            </div>
        </div>
    </div>
</section>
{{ end }}

{{ define "script" }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.3.6/proj4.js"></script>
<script src="https://code.highcharts.com/maps/highmaps.js"></script>
<script src="https://code.highcharts.com/maps/modules/data.js"></script>
<script src="https://code.highcharts.com/mapdata/countries/us/us-all.js"></script>

<script type="text/javascript">
    var H = Highcharts, map = H.maps['countries/us/us-all'], chart;

    var options = {
        title: {
            text: null
        },
        legend: {
            enabled: false
        },
        exporting: false,
        credits: false,
        tooltip: {
            enabled: false,
            pointFormat: '{point.capital}, {point.parentState}<br>' +
                'Lat: {point.lat}<br>' +
                'Lon: {point.lon}<br>' +
                'Population: {point.population}'
        },
        xAxis: {
            crosshair: null
        },
        yAxis: {
            crosshair: null
        },
        series: [{
            name: 'Basemap',
            mapData: map,
            borderColor: '#606060',
            nullColor: 'rgba(200, 200, 200, 0.2)',
            showInLegend: false
        }, {
            name: 'Separators',
            type: 'mapline',
            data: H.geojson(map, 'mapline'),
            color: '#101010',
            enableMouseTracking: false,
            showInLegend: false
        }]
    };

    chart = Highcharts.mapChart('arcs', options);
    document.addEventListener('aos:in:chart', ({ detail }) => {
        Highcharts.getJSON('https://cdn.jsdelivr.net/gh/highcharts/highcharts@v7.0.0/samples/data/us-capitals.json', function (json) {
            var data = [];
            json.forEach(function (p) {
                p.z = p.population;
                data.push(p);
            });

            options.series.push({
                type: 'mapbubble',
                dataLabels: {
                    enabled: false,
                    format: '{point.capital}'
                },
                name: null,
                data: data,
                //maxSize: '12%',
                color: H.getOptions().colors[0]
            });

            chart = Highcharts.mapChart('arcs', options);
        });
    });
</script>
{{ end }}
